<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Name: {{ name }}</h1>
            <h1>Age: {{ age }}</h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                #loop={skill of data.skills}
                <div class="box">
                    <p>Title: {{ skill.name }}</p>
                    <p>Title: {{ skill.level }}</p>
                    <hr>
                </div>
                #endloop
            </div>
        </div>
    </div>
</div>